
@font-face {
    font-family: PressStart2P;
    src: url('PressStart2P.ttf');
}

body { 
    background-color: rgba(0, 0, 0, 0); 
    margin: 0px auto; 
    overflow: hidden; 
    font-family: PressStart2P; 
    word-break: break-word; 
    width: 1100; 
    font-size: 20px; 
    color: #ffffff;}

div { 
    background-color: #fff0ff;
    min-height: 1280px;
    text-align: left;
    font-size: 24px;
    padding: 25px 250px;
    color: #000000;}

table {
    width: 100%;
    color: #000000;
    font-size: 22px;
}

td {
    padding: 0px 0px 0px 0px;
}
